.slider-container {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .slider-wrapper {
    width: 85%;
    height: 100%;
    margin: 0 auto;
  }
  .slider-btn-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: absolute;
    width: calc(100% - 6%);
    margin: 0 auto;
    left: calc(100% - 97%);
    top: calc(100% - 50%);
    z-index: 1;
  }
  .swiper-btn-next, .swiper-btn-prev{
      background-color: #F3F3F3;
      width: 52px;
      height: 52px;
      justify-content: center;
      align-items: center;
      display: flex;
      border-radius: 50%;
      cursor: pointer;
  }
  