.health-news-card {
  max-width: 270px;
  width: 100%;
  height: 376px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: #E6E6E6;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
.health-news-card-img {
  max-width: 254px;
  width: 100%;
  height: 168px;
  border-radius: 6px;
  position: relative;
}
.health-news-card-img img {
  width: 100%;
  height: 100%;
}
.hnc-img-label {
  position: absolute;
  top: 9px;
  right: 9px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color:#1c208f;
  background-color: #ffffff;
  border-radius: 12px;
  max-width: 60px;
  width: 100%;
  padding: 4px 0;
}
.health-news-card-text {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.hnc-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #1c208f;
}
.hnc-date-label {
  font-size: 10px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #909090;
}
.hnc-details-text {
  color: #909090;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.hnc-read-more {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #1c208f;
  cursor: pointer;
}
