.health-resources-news-heading {
  font-family: "Poppins", sans-serif;
}
.health-resources-news-heading h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  color: #1d1d1d;
  letter-spacing: 0em;
  text-align: left;
}
.health-news-img-card {
  max-width: 270px;
  width: 100%;
  height: 376px;
  border-radius: 12px;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  padding: 14px;
  position: relative;
  overflow: hidden;
}
.health-news-img-card-text {
  height: auto;
  color: #ffffff;
  position: absolute;
  bottom: 1rem;
}
.hnic-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.hnic-label {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 1.2rem;
}
.hnic-read-more-btn {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: underline;
  cursor: pointer;
}
.health-resources-news-card-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 0;
}
