.drawer-container {
}
.ul-top-drawer{
    list-style: none;
    width: 100%;
    padding: 14px 10px;
}
.ul-top-drawer li {
    font-family: "Noto Sans";
    padding: 10px;
}
.ul-top-drawer li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #2B2B2B;
}
