.header-container {
  font-family: "Noto Sans", sans-serif;
}
.top-bar {
  background-color: #1c208f;
  width: 100%;
}
.top-bar h5 {
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  line-height: 14px;
  padding: 7px 0;
}
.main-nav-bar {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 14px 0;
}
ul.main-nav-bar-menu {
  display: flex;
  list-style: none;
  gap: 8px;
  color: #2b2b2b;
  line-height: 19px;
  font-size: 14px;
  align-items: center;
  margin: 0;
  padding: 0;
}
ul.main-nav-bar-menu li {
  margin: 0;
  padding: 0;
}
ul.main-nav-bar-menu li a {
  text-decoration: none;
  color: #2b2b2b;
  padding: 10px 20px;
  cursor: pointer;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}


li.dropdown {
  position: relative;
}
.dropdown-btn{
  position: relative;
}
.dropdown-btn {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}
ul.dropdwon-menu {
  position: absolute;
  list-style: none;
  top: 2.5rem;
  left:0;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  visibility: hidden;
}

ul.dropdwon-menu li {
  padding: 8px 12px;
}
li.dropdown:hover ul.dropdwon-menu{
  visibility: visible;
}
button#doctors-menu-button,
#hospitals-menu-button {
  background: transparent;
  border: none;
  color: #2b2b2b;
  line-height: 19px;
  font-size: 14px;
  align-items: center;
  display: flex;
  gap: 4px;
  border: transparent;
  outline: transparent;
}
.menu-down-arrow {
  font-size: 24px;
  width: 24px;
  height: 24px;
  font-weight: lighter;
  color: #2b2b2b;
}
.scroll-top-btn {
  width: 3rem;
  height: 3rem;
  color: #ffffff;
  text-align: center;
  line-height: 3.5rem;
  background-color: #1c208f;
  border-radius: 12px;
  position: fixed;
  right: 2rem;
  bottom: 1rem;
  z-index: 1;
  outline: transparent;
  border: 1px solid #909090;
}
.top-menu {
  display: none;
}
.toggleBtn {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background: transparent;
}
span.first,
span.second,
span.third {
  width: 20px;
  height: 2px;
  border: 2px solid #1c208f;
  display: block;
  margin-bottom: 4px;
}