.text-card-container {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}
.text-card-headings {
  display: flex;
  flex-direction: column;
  gap:1rem;
}
.tch-label {
  font-size: 16px;
  /* font-weight: 500; */
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #1c208f;
}
.tch-title {
  font-size: 44px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: #1d1d1d;
}
.text-card-text-details {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #2e3139;
  padding: 3rem 0;
}
.text-card-button {
}
