.city-card {
  max-width: 270px;
  width: 100%;
  height: 144px;
  border-radius: 12px;
  border: 1px solid #ebebeb;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px;
  gap:2rem;
  margin-bottom: 2rem;
}
.city-card-img {
  max-width: 120px;
  width: 100%;
  height: 120px;
  border-radius: 10px;
}
.city-card-img img {
  width: 100%;
  height: 100%;
}
.city-card-text {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.city-label {
  display: flex;
  flex-direction: column;
}
.city-label span:nth-child(1) {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #2b2b2b;
}
.city-label span:nth-child(2) {
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #909090;
}
